doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Sales List
    link(
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css',
      rel='stylesheet',
      integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH',
      crossorigin='anonymous'
    )

  body
    .container.mt-5
      h1.mb-4.text-center Sold Produce

      table#salesTable.table.table-striped.table-hover.border.border-1
        thead
          tr
            th(scope='col') Produce Name
            th(scope='col') Buyer's Name
            th(scope='col') Date & Time
            th(scope='col') Tonnage (kgs)
            th(scope='col') Amount Paid (UgX)
            th(scope='col') Sales Agent's Name
            th(scope='col') Payment Method
            th(scope='col') Branch
            th(scope='col') Actions

        tbody
          if sales && sales.length
            each sale in sales
              tr
                td #{sale.producename.producename}
                td #{sale.buyersname}
                td #{sale.dateandtime.toLocaleString()}
                td #{sale.tonnage}
                td #{sale.amountpaid}
                td #{sale.salesagent.name}
                td #{sale.paymentmethod}
                td #{sale.branch}
                
                td
                  a.btn.btn-sm.btn-primary(href="/sales/updateSale?id=" + sale._id) Update
                  form(action="/sales/deleteSale", method="post", style="display:inline")
                    input(type="hidden", name="id", value=sale._id)
                    button.btn.btn-danger.btn-sm(type="submit" onclick="return confirm('Are you sure you want to delete this sale?')") Delete
          else
            tr
              td(colspan="9", class="text-center") No sales found!

      .mt-4.text-end
        a.btn.btn-success(href="/sales/addSale") Add Sale
